@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Anaheim|Cutive+Mono|Faster+One|Kelly+Slab|Lato|Monofett|Oxygen|Quantico');

// font-family: 'Cutive Mono', monospace;
// font-family: 'Quantico', sans-serif;
// font-family: 'Kelly Slab', cursive;
// font-family: 'Faster One', cursive;
// font-family: 'Monofett', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Anaheim', sans-serif;

html {
  font-size: 12px;

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    h1 {
      font-size: $size-2;
      line-height: 1;
      font-weight: 900;
    }

    h2 {
      font-size: $size-5;
      line-height: 1.1;
      font-weight: 600;
      margin: 5px 0;
    }

    h3 {
      font-size: $size-6;
      line-height: 1.2;
    }
    h4 {
      font-size: $size-5;
      line-height: 1.25;
      margin: 12px 0 0 0;
      font-weight: 600;
    }

    .border {
      border: 1px solid red;
    }

    .GlobalHeader {
      background-color: $black;
      padding: 2rem 1.5rem;
      margin-bottom: 0px;

      .columns {
        margin: 0;

        .column {
          margin: 0;
          padding: 0;
          font-family: 'Cutive Mono', monospace;
          color: $green;
          text-align: center;
        }
      }
    }

    .SiteContainer {
      padding: 2vh 2vw;
      margin-bottom: 7rem;

      .columns {
        margin: 0;

        .column {
          margin: 0;
          .bio {
            padding: 0.5rem;
          }
          figure {
            margin: 0 auto 18px auto;
            img {
              border-radius: 100px;
              border: 2px solid lightgrey;
            }
          }
          .Card {
            img {
              border-radius: 5px;
              margin: 0 0 1vh 0;
            }

            .card-content {
              .title {
                font-family: 'Quantico', sans-serif;
                margin: 0 0 0.5rem 0;
              }
              .media-content {
                // border: 1px solid green;
                padding: 0.5rem 0;
                .subtitle {
                  .button {
                    margin: 0 8px 0 0;
                    .fa {
                    }
                  }
                }
              }
            }
          }

          .content {
            // border: 1px solid orange;
            padding: 0.5rem 0;

            a {
            }
          }
        }
      }
    }

    .GlobalFooter {
      background-color: $black;
      color: $green;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem 1.5rem;
      height: 6rem;
      margin-top: 0;

      span {
        .fa {
          color: $green;
        }
      }
    }
  }
}
