@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Anaheim|Cutive+Mono|Faster+One|Kelly+Slab|Lato|Monofett|Oxygen|Quantico');

// font-family: 'Cutive Mono', monospace;
// font-family: 'Quantico', sans-serif;
// font-family: 'Kelly Slab', cursive;
// font-family: 'Faster One', cursive;
// font-family: 'Monofett', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Anaheim', sans-serif;
html {
  font-size: 12px;

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    h1 {
      font-size: $size-3;
      line-height: 1.5;
    }

    h2 {
      font-size: $size-5;
      line-height: 1.25;
    }

    .GlobalHeader {
      background-color: $black;
      padding: 2rem 1.5rem;

      .columns {
        margin: 0;

        .column {

          margin: 0;
          padding: 0;
          font-family: 'Cutive Mono', monospace;
          color: $green;
          text-align: center;
        }
      }
    }

    .SiteContainer {
      .Card {

      }

    }

    .GlobalFooter {

    }
  }
}
