@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Anaheim|Cutive+Mono|Faster+One|Kelly+Slab|Lato|Monofett|Oxygen|Quantico');

// font-family: 'Cutive Mono', monospace;
// font-family: 'Quantico', sans-serif;
// font-family: 'Kelly Slab', cursive;
// font-family: 'Faster One', cursive;
// font-family: 'Monofett', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Oxygen', sans-serif;
// font-family: 'Anaheim', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
